* text=auto
*.adoc text
*.bzl text
*.java text
*.json text
*.proto text
*.yaml text
BUILD text
*.bat text eol=crlf
*.bin filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
