* text=auto
*.adoc text
*.bazel text
*.bzl text
*.java text
*.json text
*.patch text
*.proto text
*.scala text
*.yaml text
BUILD text
WORKSPACE text
*.bat text eol=crlf
*.bin filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jar filter=lfs diff=lfs merge=lfs -text
